force-app/main/default/flows/Test_Drawing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_ContentVersion_from_Image_String</name>
        <label>Create ContentVersion from Image String</label>
        <locationX>408</locationX>
        <locationY>51</locationY>
        <actionName>FlowImageContentHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Output</targetReference>
        </connector>
        <inputParameters>
            <name>base64image</name>
            <value>
                <elementReference>Drawing.currentPngOut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileName</name>
            <value>
                <stringValue>MyJohnHancock.png</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <interviewLabel>Test Drawing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Drawing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Show_Drawing</name>
        <label>Show Drawing</label>
        <locationX>239</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_ContentVersion_from_Image_String</targetReference>
        </connector>
        <fields>
            <name>Drawing</name>
            <extensionName>c:drawAnnotation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canvasHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>captureSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stampingMode</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>drawingMode</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Output</name>
        <label>Show Output</label>
        <locationX>598</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowJSON</name>
            <fieldText>&lt;p&gt;Stamping JSON: {!Drawing.currentCanvasOut}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowPNG</name>
            <fieldText>&lt;p&gt;Stamping PNG: {!Drawing.currentPngOut}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Show_Drawing</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
